:root{
    --color-gray: #444;
    --color-yellow: #dec129;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color-gray);
}/* You can add global styles to this file, and also import other style files */


a {
    text-decoration: none;
    color: #444;
    transition: 0.4s;
}

a:hover {
    color: var(--color-yellow);
}